[Unit]
Description=RClone multiple Mount Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
KillMode=none
RestartSec=5
ExecStartPre=-/usr/bin/mkdir -p %h/clouds/%i
ExecStart=/usr/bin/rclone mount %i:/ %h/clouds/%i
    --config %h/.config/rclone/rclone.conf
    --umask 002 --allow-other --allow-non-empty
    --vfs-cache-mode full --vfs-cache-max-age 24h --vfs-cache-max-size 4G
    --vfs-read-chunk-size 40M --vfs-read-chunk-size-limit 512M
    --dir-cache-time 12h --buffer-size 64M
    --log-level INFO --log-file %h/clouds/rclone.log
ExecStop=/usr/bin/fusermount -uz %h/clouds/%i
Restart=on-failure

[Install]
WantedBy=default.target
