[SddmGreeterTheme]
Name=Clairvoyance
Description=Cool SDDM theme
License=CC-BY-SA
Type=sddm-theme
Version=1.0
MainScript=Main.qml
Theme-Id=clairvoyance
Theme-API=2.0
Screenshot=clairvoyance_screenshot.png
