.bin/stream
.config/sublime-text-3/Packages/User/Color Highlight.cache/
.config/sublime-text-3/Packages/User/Gist.sublime-settings
.config/sublime-text-3/Packages/User/linters
.config/sublime-text-3/Packages/User/Package Control.cache
.config/sublime-text-3/Packages/User/Russian*
.conky/gmail/credentials.json
.conky/gmail/client_secret.json
.env
.gauth
.gitconfig
.gnupg
.config/polybar/gmail/credentials.json
.config/polybar/gmail/client_secret.json
.config/ranger/bookmarks
.config/ranger/history
.config/jgmenu/backup
.dots

## include file
!.ssh/
.ssh/*
!.ssh/id_rsa.pub

!.wall/
.wall/*
!.wall/lcrow.png
