## Options

set constantshow
set linenumbers
set locking
set multibuffer
set showcursor
set smarthome
set smooth
set softwrap
set tabsize 4
set whitespace ">·"
set morespace

## Highlight

include ~/.nano/syntax/ALL.nanorc
