Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

#include ".colors/dui"

!URxvt.font: xft:CozetteVector:size=9
!URxvt.font: xft:Hack Nerd Font Mono:size=9

!!! xlsfonts | grep ttyp0
URxvt*font: -uw-ttyp0-medium-r-normal--14-130-75-75-c-70-iso10646-1,xft:Hack Nerd Font Mono:size=9
URxvt*boldFont: -uw-ttyp0-medium-r-normal--14-130-75-75-c-70-iso10646-1,xft:Hack Nerd Font Mono:size=9

URxvt*geometry: 84x22
URxvt.internalBorder: 15
URxvt.letterSpace: 0
URxvt.antialias: true

!URxvt.termname: xterm-256color
URxvt.iconFile: /usr/share/icons/Papirus/48x48/apps/urxvt.svg

URxvt.pointerBlank: true
URxvt.saveLines:    5000
URxvt.scrollBar:    false
URxvt.cursorBlink:  true
URxvt.urgentOnBell: true
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,matcher,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1

URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! ctrl + arrows
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! depend xorg-xlsfonts
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

URxvt*transparent:false
URxvt*depth: 32
