Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault



#include ".colors/sn"
!URxvt.font: -*-rissole-*

URxvt.font: xft:Hack Nerd Font Mono:size=9
!URxvt.font: xft:Roboto Mono Medium:size=9
!URxvt.font: xft:RobotoMono Nerd Font:size=9
!URxvt.font: xft:Iosevka Nerd Font:size=9:antialias=true
!URxvt.font: xft:Iosevka Term:size=9:antialias=true

URxvt*geometry: 84x22
URxvt.internalBorder: 15
URxvt.letterSpace: 0
URxvt.antialias: true

!URxvt.termname: xterm-256color
URxvt.iconFile: /usr/share/icons/Papirus/48x48/apps/urxvt.svg

URxvt.pointerBlank: true
URxvt.saveLines:    5000
URxvt.scrollBar:    false
URxvt.cursorBlink:  true
URxvt.urgentOnBell: true
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.perl-ext: default,clipboard,url-select,keyboard-select,config-reload
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Up:\033[1;5A
URxvt.keysym.Control-Down:\033[1;5B
URxvt.keysym.Control-Left:\033[1;5D
URxvt.keysym.Control-Right:\033[1;5C

URxvt*transparent:false
!URxvt*shading: 10
URxvt*depth: 32
!URxvt.colorUL: #4682B4