Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault



#include ".colors/default"


URxvt.font: xft:Roboto Mono Medium:size=11
!URxvt.font: xft:RobotoMono Nerd Font Mono:size=11
!URxvt.letterSpace: -1
URxvt.iconFile: /usr/share/icons/Papirus/48x48/apps/urxvt.svg

URxvt.pointerBlank: true
URxvt.saveLines:    5000
URxvt.scrollBar:    false
URxvt.cursorBlink:  true
URxvt.urgentOnBell: true
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.perl-ext: default,clipboard,url-select,keyboard-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Up:\033[1;5A
URxvt.keysym.Control-Down:\033[1;5B
URxvt.keysym.Control-Left:\033[1;5D
URxvt.keysym.Control-Right:\033[1;5C

URxvt*geometry: 76x20
URxvt.internalBorder: 15

URxvt*transparent:false
!URxvt*shading: 10
URxvt*depth: 32
!URxvt*background: rgba:0000/0000/0200/c800
URxvt*background: [97]#1E1F29

URxvt.colorUL: #4682B4



rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   false
rofi.terminal:                       urxvt
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          25
rofi.lines:                          7
rofi.columns:                        1
rofi.font:                           ClearSansMedium 13
rofi.drun-icon-theme:                Papirus
!rofi.show-icons:                    true
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    10
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width: 0
rofi.color-enabled: true
! State:           ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
rofi.color-normal: #282a36,  #5a74ca,  #282a36,  #5a74ca,  #282a36
rofi.color-urgent: #282a36,  #5a74ca,  #282a36,  #5a74ca,  #282a36
rofi.color-active: #282a36,  #5a74ca,  #282a36,  #5a74ca,  #282a36
!                  ´background´, ´border´
rofi.color-window: #282a36,      #75444A57