[Desktop Entry]
Version=1.0
Type=Application
Name=Выйти
Comment=Выход из Xfce
Exec=xfce4-session-logout
Icon=system-devices-panel
Path=
Terminal=false
StartupNotify=false
