VteTerminal, vte-terminal {
    padding: 20px;
}

.window-frame, .window-frame:backdrop {
  box-shadow: 0 0 0 black;
  border-style: none;
  border-radius: 0;
  margin: 0;
}

/*.titlebar {
  border-radius: 0;
}*/

/*.xfce4-panel {border-radius: 10px;}*/

/*decoration {
	border: 4px solid #F4F5F6;
	border-radius: 7px;
}*/


/*window.ssd separator:first-child + headerbar:backdrop, window.ssd separator:first-child + headerbar, window.ssd headerbar:first-child:backdrop, window.ssd headerbar:first-child, window.ssd headerbar:last-child:backdrop, window.ssd headerbar:last-child, window.ssd stack headerbar:first-child:backdrop, window.ssd stack headerbar:first-child, window.ssd stack headerbar:last-child:backdrop, window.ssd stack headerbar:last-child, window.ssd decoration, window.ssd headerbar.titlebar { border-radius: 0; } window.ssd headerbar * { margin-top: -100px; color: #1c2022; } window.ssd headerbar.titlebar, window.ssd headerbar.titlebar button.titlebutton { border: none; font-size: 0; height: 0; margin: 0; max-height: 0; min-height: 0; padding: 0; }*/
