[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/st/Desktop]
row=0
col=0

[/home/st/Downloads]
row=2
col=0

[/home/st/Pictures]
row=4
col=0

[/home/st/Documents]
row=1
col=0

[/home/st/Music]
row=3
col=0

[/home/st/Templates]
row=0
col=1

[/home/st/Public]
row=5
col=0

[/home/st/Videos]
row=1
col=1

