[SddmGreeterTheme]
Name=Slice
Description=Simple SDDM theme.
Author=RadRussianRus
Copyright=(c) 2019, RadRussianRus
License=CC-BY-SA
Type=sddm-theme
Screenshot=screenshot.png
Website=https://github.com/RadRussianRus/slice-sddm
Version=1.5
MainScript=Main.qml
TranslationsDirectory=translations
ConfigFile=theme.conf
